:root{
    --primary-color:rgb(255, 68, 0);
    --secondary-color:#6c757d;
    --text-color:rgb(113, 114, 117);
    --dark-color:#000000;
    --p-color:#717275;
}
.header-wrapper .logo{
    font-weight: 700;
    font-size: 25px;
    transition: 0.2s linear;
}
.header-wrapper .logo:hover{
    color: var(--primary-color);
}
.header-wrapper .logo span{
    color: var(--primary-color);
}
.header-wrapper .menu-nav-bar .nav-list li a{
    color: var(--p-color);

}
.header-wrapper .menu-nav-bar .nav-list .first-child{
    color: var(--primary-color);
    border-bottom: 2.5px solid var(--secondary-color);
    
}
.header-wrapper .menu-nav-bar .nav-list li a:hover{
    color: var(--primary-color);
    border-bottom: 2.5px solid var(--secondary-color);

}
.header-wrapper .user .user-icon{
    color: var(--p-color);
}
.header-wrapper .user .user-icon li:hover{
    color: var(--primary-color);
}
.banner-wrapper .banner-container{
    background-image: url(./images/slideshow/medium-shot-business-women-high-five.jpeg);
    background-size: auto;
}
.banner-wrapper .banner-container ul li{
    border: 5px solid #fff;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}
.banner-wrapper .banner-container .txt-heading .p-tag {
    font-size: 1.2em;
    font-weight: 100;
}
.banner-wrapper .banner-container .txt-heading .btn-txt{
    /* border: 1px solid black; */
    padding: 15px 30px;
    border-radius: 50px;
    background-color: #000000;
    font-weight: 600;
    transition: .2s linear;
}
.banner-wrapper .banner-container .txt-heading .btn-txt:hover{
    background-color: var(--primary-color);
}
.fashion-wrapper .heading-fashion{
    font-size: 2em;
    font-weight: 900;
}
.fashion-wrapper .heading-fashion span{
    color: var(--primary-color);
}
.fashion-wrapper .fashion-col-3{
    grid-template-columns: 1fr 3fr 2fr;
}
.fashion-wrapper .fashion-col-3 .introduction-col-1 ul li{
    border-left: 2px solid #d0d1d1;
    font-size: 1.2em;
    font-weight: 700;
    color: #d0d1d1;
    padding: 16px 12px;
}
.fashion-wrapper .fashion-col-3 .introduction-col-1 ul li:first-child{
    color: var(--primary-color);
    border-color: var(--primary-color);
}
.fashion-wrapper .fashion-col-3 .introduction-col-1 ul li:hover{
    color: var(--primary-color);
    border-color: var(--primary-color);
}
.fashion-wrapper .fashion-col-3 .heading-col-3 h1{
    font-size: 2em;
    font-weight: 700;
    padding-bottom: 30px;
}
.fashion-wrapper .fashion-col-3 .heading-col-3 h1 span,.shop-wrapper-col-2 .right-side-shop-col-2 h1 span{
    color: var(--primary-color);
}
.fashion-wrapper .fashion-col-3 .heading-col-3 p{
    font-size: 1.2em;
    color: var(--p-color);
    padding-bottom: 30px;
}
.fashion-wrapper .fashion-col-3 .heading-col-3 .about-col-3{
    margin-top: 60px;
    color: var(--secondary-color);
    font-size: .85em;
}
.fashion-wrapper .fashion-col-3 .heading-col-3 .about-col-3:hover {
    color: var(--primary-color);
}
.fashion-wrapper .fashion-col-3 .heading-col-3 .about-col-3:hover i{
    opacity: 1;
}
.shop-wrapper-col-2{
    background-color: #f0f8ff;
    grid-template-columns: 1fr 1fr;
}
.shop-wrapper-col-2 .right-side-shop-col-2 h1{
    font-size: 2.5em;
    font-weight: 800;
    margin-bottom: 20px;
}
.shop-wrapper-col-2 .right-side-shop-col-2 p{
    font-size: 1.5em;
    font-weight: 100;
    color: var(--p-color);
    padding-bottom: 40px;
}
.shop-wrapper-col-2 .right-side-shop-col-2 .explore{
    color: var(--p-color);
}
.shop-wrapper-col-2 .right-side-shop-col-2 .explore:hover{
    color: var(--primary-color);
}
.shop-wrapper-col-2 .right-side-shop-col-2 .explore:hover i{
    opacity: 1;
}
.featur-product .featur-products-cards-wrapper .single-card-container .product-alert{
    justify-content: space-between;
    padding: 0 20px;
    top: 25px;
    width: 100%;
 
}
.featur-product .featur-products-cards-wrapper .single-card-container .product-alert p{
    background-color: #fff;
    padding: 4px;
    font-size: .8em;
    font-weight: 700;
    color: var(--secondary-color);
    cursor: text;
}
.featur-product .featur-products-cards-wrapper .single-card-container .product-alert i{
    color: #fff;
}
.featur-product .featur-products-cards-wrapper .single-card-container .product-alert i:hover{
    color: var(--primary-color);
}
.featur-product .featur-products-cards-wrapper .single-card-container .product-info .product-title h6{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.featur-product .featur-products-cards-wrapper .single-card-container .product-info .product-title p{
    color: var(--secondary-color);
}
.featur-product .featur-products-cards-wrapper .single-card-container .product-info .price{
    color: var(--p-color);
}
.featur-product .featur-products-cards-wrapper .single-card-container .product-info .product-title h6:hover{
    color: var(--primary-color);
}
.featur-product .featur-products-cards-wrapper .single-card-container:hover img{
    box-shadow: rgba(179, 174, 174, 0.4) 0px 30px 90px;
}
.featur-product .view h2{   
    color: var(--p-color);
    border-bottom: 2px solid var(--p-color);
    font-weight: 700;
}
.featur-product .view h2:hover{
    color: var(--primary-color);
}
footer .footer-logo{
    font-size: 36px;
    color: #fff;
}
footer{
    background-color: #000000;
    padding: 120px 30px;
    margin-bottom: 60px;
}
footer .footer-logo span{
    color: var(--secondary-color);;
}
footer .footer-logo span:hover{
    color: var(--primary-color);
}
footer .copyright{
    color: #717275;
    line-height: 50px;
    margin-top: 30px;
    font-size: 18px;
}
footer .foter-container .sitemap,.social-icon{
    color: var(--p-color);
}
